<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home</title>
	<!-- Main Styles -->
	<link rel="stylesheet" th:href="@{/assets/styles/style.min.css}">
	<!-- Material Design Icon -->
	<link rel="stylesheet" th:href="@{/assets/fonts/material-design/css/materialdesignicons.css}">
	<!-- mCustomScrollbar -->
	<link rel="stylesheet" th:href="@{/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}">
	<!-- Waves Effect -->
	<link rel="stylesheet" th:href="@{/assets/plugin/waves/waves.min.css}">
	<!-- Sweet Alert -->
	<link rel="stylesheet" th:href="@{/assets/plugin/sweet-alert/sweetalert.css}">
	<!-- Morris Chart -->
	<link rel="stylesheet" th:href="@{/assets/plugin/chart/morris/morris.css}">
	<!-- FullCalendar -->
	<link rel="stylesheet" th:href="@{/assets/plugin/fullcalendar/fullcalendar.min.css}">
	<link rel="stylesheet" th:href="@{/assets/plugin/fullcalendar/fullcalendar.print.css}" media='print'>
	<!-- Dark Themes -->
	<link rel="stylesheet" th:href="@{/assets/styles/style-black.min.css}">
</head>
<body>
<div class="main-menu">
	<header class="header">
		<a href="index.html" class="logo">
			<i class="ico mdi mdi-cube-outline">
				<!--<img th:src="@{/visualization/images/favicon.ico}" class="logo" style="position: relative;bottom: 4px">-->
			</i>
			<!--骋安延保可视化管理系统-->
			Visualization
		</a>
		<button type="button" class="button-close fa fa-times js__menu_close"></button>
		<div class="user">
			<a href="#" class="avatar">
				<img th:src="@{/assets/images/avatar-sm-5.jpg}" alt="">
				<span class="status online"></span>
			</a>
			<h5 class="name">
				<a href="profile.html">刘洋</a>
			</h5>
			<h5 class="position">客服专员</h5>
		</div>
	</header>
	<div class="content">
		<div class="navigation">
			<ul class="menu js__accordion">
				<li class="current">
					<a class="waves-effect" th:href="@{/index}">
						<i class="menu-icon mdi mdi-view-dashboard"></i>
						<span>首页</span>
					</a>
				</li>
			</ul>
			<ul class="menu js__accordion">
				<li>
					<a class="waves-effect parent-item js__control" href="#">
						<i class="menu-icon mdi mdi-pencil-box"></i>
						<span>出单管理</span>
						<span class="notice notice-blue">7</span>
					</a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/forword/Order_management/ui-buttons}">General Elements</a></li>
					</ul>
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#">
						<i class="menu-icon mdi mdi-folder-multiple"></i>
						<span>理赔管理</span>
						<span class="menu-arrow fa fa-angle-down"></span>
					</a>
					<ul class="sub-menu js__content">
						<li><a href="extras-contact.html">Contact list</a></li>
					</ul>
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#">
						<i class="menu-icon mdi mdi-table"></i>
						<span>基础信息</span>
						<span class="menu-arrow fa fa-angle-down"></span>
					</a>
					<ul class="sub-menu js__content">
						<li><a href="tables-basic.html">Basic Tables</a></li>
					</ul>
					<!-- /.sub-menu js__content -->
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#">
						<i class="menu-icon mdi mdi-chart-areaspline"></i>
						<span>统计中心</span>
						<span class="menu-arrow fa fa-angle-down"></span>
					</a>
					<ul class="sub-menu js__content">
						<li><a th:href="@{/forword/demo/demo2}">3D Charts</a></li>
					</ul>
				</li>
				<li>
					<a class="waves-effect parent-item js__control" href="#">
						<i class="menu-icon mdi mdi-cube-outline"></i>
						<span>系统设置</span>
						<span class="menu-arrow fa fa-angle-down"></span>
					</a>
					<ul class="sub-menu js__content">
						<li><a href="ui-notification.html">Notification</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="fixed-navbar">
	<div class="pull-left">
		<button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
		<!--<h1 class="page-title">Home</h1>-->
		<!-- /.page-title -->
	</div>
	<!-- /.pull-left -->
	<div class="pull-right">
		<div class="ico-item">
			<a href="#" class="ico-item mdi mdi-magnify js__toggle_open" data-target="#searchform-header"></a>
			<form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="mdi mdi-magnify button-search" type="submit"></button></form>
			<!-- /.searchform -->
		</div>
		<!-- /.ico-item -->
		<a href="#" class="ico-item mdi mdi-email notice-alarm js__toggle_open" data-target="#message-popup"></a>
		<a href="#" class="ico-item pulse"><span class="ico-item mdi mdi-bell notice-alarm js__toggle_open" data-target="#notification-popup"></span></a>
		<a href="#" class="ico-item mdi mdi-logout js__logout"></a>
	</div>
	<!-- /.pull-right -->
</div>
<!-- /.fixed-navbar -->
<!-- /#message-popup -->
<div id="wrapper">
	<div class="main-content">
		<div class="row small-spacing">
			<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">访客量</h4>
					<div id="real-time-flot-chart" class="flot-chart" style="height: 320px"></div>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-info">出单量</h4>
					<div class="content widget-stat">
						<div id="traffic-sparkline-chart-1" class="left-content margin-top-15"></div>
						<div class="right-content">
							<h2 class="counter text-info">734</h2>
							<p class="text text-info">Out quantity</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-success">故障率</h4>
					<div class="content widget-stat">
						<div id="traffic-sparkline-chart-2" class="left-content margin-top-10"></div>
						<div class="right-content">
							<h2 class="counter text-success">36%</h2>
							<p class="text text-success">Failure rate</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12">
				<div class="box-content">
					<h4 class="box-title text-success">查勘量</h4>
					<div class="content widget-stat">
						<div id="traffic-sparkline-chart-3" class="left-content"></div>
						<div class="right-content">
							<h2 class="counter text-danger">849 <i class="fa fa-angle-double-up"></i></h2>
							<p class="text text-danger">Survey quantity</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">
						出单量占比
					</h4>
					<div id="donut-morris-chart" class="morris-chart" style="height: 240px"></div>
					<div class="text-center">
						<ul class="list-inline morris-chart-detail-list">
							<li><i class="fa fa-circle"></i>中规车</li>
							<li><i class="fa fa-circle"></i>商用车</li>
							<li><i class="fa fa-circle"></i>进口车</li>
						</ul>
					</div>
					<!-- /#donut-morris-chart.morris-chart -->
				</div>

				<!-- /.box-content -->
			</div>
			<div class="col-lg-6 col-xs-12">
				<div class="box-content">
					<h4 class="box-title">再次购买单量</h4>
					<div id="bar-morris-chart" class="morris-chart" style="height: 240px"></div>
					<div class="text-center">
						<ul class="list-inline morris-chart-detail-list">
							<li><i class="fa fa-circle"></i>中规车</li>
							<li><i class="fa fa-circle"></i>在用车</li>
							<li><i class="fa fa-circle"></i>进口车</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row small-spacing">
			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="box-content bg-success text-white">
					<div class="statistics-box with-icon">
						<i class="ico small fa fa-diamond"></i>
						<p class="text text-white">SUCCESS</p>
						<h2 class="counter">72943</h2>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="box-content bg-info text-white">
					<div class="statistics-box with-icon">
						<i class="ico small fa fa-download"></i>
						<p class="text text-white">DOWNLOAD</p>
						<h2 class="counter">6382</h2>
					</div>
				</div>
				<!-- /.box-content -->
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="box-content bg-danger text-white">
					<div class="statistics-box with-icon">
						<i class="ico small fa fa-bug"></i>
						<p class="text text-white">FIXED BUG</p>
						<h2 class="counter">12564</h2>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-xs-12">
				<div class="box-content bg-warning text-white">
					<div class="statistics-box with-icon">
						<i class="ico small fa fa-usd"></i>
						<p class="text text-white">SALES</p>
						<h2 class="counter">2,637</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="row small-spacing">
				<div class="col-xs-12">
				<div class="box-content">
					<h4 class="box-title">实时单量</h4>
					<div class="table-responsive table-purchases">
						<table class="table table-striped margin-bottom-10">
							<thead>
							<tr>
								<th style="width:10%;">Product</th>
								<th>Price</th>
								<th>Date</th>
								<th>State</th>
								<th>State</th>
								<th>State</th>
								<th>State</th>
								<th style="width:5%;"></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>Amaza Themes</td>
								<td>Amaza Themes</td>
								<td>Amaza Themes</td>
								<td>Amaza Themes</td>
								<td>$71</td>
								<td>Nov 12,2016</td>
								<td class="text-success">Completed</td>
								<td><i class="fa fa-plus-circle"></i></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/#wrapper -->
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script th:src="@{/assets/script/html5shiv.min.js}"></script>
		<script th:src="@{/assets/script/respond.min.js}"></script>
	<![endif]-->
	<!-- 
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/assets/scripts/jquery.min.js}"></script>
	<script th:src="@{/assets/scripts/modernizr.min.js}"></script>
	<script th:src="@{/assets/plugin/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:src="@{/assets/plugin/nprogress/nprogress.js}"></script>
	<script th:src="@{/assets/plugin/sweet-alert/sweetalert.min.js}"></script>
	<script th:src="@{/assets/plugin/waves/waves.min.js}"></script>
	<!-- Morris Chart -->
	<script th:src="@{/assets/plugin/chart/morris/morris.min.js}"></script>
	<script th:src="@{/assets/plugin/chart/morris/raphael-min.js}"></script>
	<script th:src="@{/assets/scripts/chart.morris.black.init.min.js}"></script>
	<!-- Flot Chart -->
	<script th:src="@{/assets/plugin/chart/plot/jquery.flot.min.js}"></script>
	<script th:src="@{/assets/plugin/chart/plot/jquery.flot.tooltip.min.js}"></script>
	<script th:src="@{/assets/plugin/chart/plot/jquery.flot.categories.min.js}"></script>
	<script th:src="@{/assets/plugin/chart/plot/jquery.flot.pie.min.js}"></script>
	<script th:src="@{/assets/plugin/chart/plot/jquery.flot.stack.min.js}"></script>
	<script th:src="@{/assets/scripts/chart.flot.black.init.min.js}"></script>
	<!-- Sparkline Chart -->
	<script th:src="@{/assets/plugin/chart/sparkline/jquery.sparkline.min.js}"></script>
	<script th:src="@{/assets/scripts/chart.sparkline.init.min.js}"></script>
	<!-- FullCalendar -->
	<script th:src="@{/assets/plugin/moment/moment.js}"></script>
	<script th:src="@{/assets/plugin/fullcalendar/fullcalendar.min.js}"></script>
	<script th:src="@{/assets/scripts/fullcalendar.init.js}"></script>
	<script th:src="@{/assets/scripts/main.min.js}"></script>
</body>
</html>