<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Buttons</title>
    <link rel="stylesheet" th:href="@{/assets/styles/style.min.css}">
    <link rel="stylesheet" th:href="@{/assets/fonts/material-design/css/materialdesignicons.css}">
    <link rel="stylesheet" th:href="@{/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugin/waves/waves.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugin/sweet-alert/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/assets/styles/style-black.min.css}">
</head>
<body>
<div class="main-menu">
    <header class="header">
        <a th:href="@{/index}" class="logo">
            <i class="ico mdi mdi-cube-outline">
                <!--<img th:src="@{/visualization/images/favicon.ico}" class="logo" style="position: relative;bottom: 4px">-->
            </i>
            <!--骋安延保可视化管理系统-->
            Visualization
        </a>
        <button type="button" class="button-close fa fa-times js__menu_close"></button>
        <div class="user">
            <a href="#" class="avatar">
                <img th:src="@{/assets/images/avatar-sm-5.jpg}" alt="">
                <span class="status online"></span>
            </a>
            <h5 class="name">
                <a href="profile.html">刘洋</a>
            </h5>
            <h5 class="position">客服专员</h5>
        </div>
    </header>
    <div class="content">
        <div class="navigation">
            <ul class="menu js__accordion">
                <li class="current">
                    <a class="waves-effect" th:href="@{/index}">
                        <i class="menu-icon mdi mdi-view-dashboard"></i>
                        <span>首页</span>
                    </a>
                </li>
            </ul>
            <ul class="menu js__accordion">
                <li>
                    <a class="waves-effect parent-item js__control" href="#">
                        <i class="menu-icon mdi mdi-pencil-box"></i>
                        <span>出单管理</span>
                        <span class="notice notice-blue">7</span>
                    </a>
                    <ul class="sub-menu js__content">
                        <li><a th:href="@{/forword/Order_management/ui-buttons}">合同&nbsp;&nbsp;&nbsp;contract</a></li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#">
                        <i class="menu-icon mdi mdi-folder-multiple"></i>
                        <span>理赔管理</span>
                        <span class="menu-arrow fa fa-angle-down"></span>
                    </a>
                    <ul class="sub-menu js__content">
                        <li><a href="extras-contact.html">Contact list</a></li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#">
                        <i class="menu-icon mdi mdi-table"></i>
                        <span>基础信息</span>
                        <span class="menu-arrow fa fa-angle-down"></span>
                    </a>
                    <ul class="sub-menu js__content">
                        <li><a href="tables-basic.html">Basic Tables</a></li>
                    </ul>
                    <!-- /.sub-menu js__content -->
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#">
                        <i class="menu-icon mdi mdi-chart-areaspline"></i>
                        <span>统计中心</span>
                        <span class="menu-arrow fa fa-angle-down"></span>
                    </a>
                    <ul class="sub-menu js__content">
                        <li><a href="chart-3d.html">3D Charts</a></li>
                    </ul>
                </li>
                <li>
                    <a class="waves-effect parent-item js__control" href="#">
                        <i class="menu-icon mdi mdi-cube-outline"></i>
                        <span>系统设置</span>
                        <span class="menu-arrow fa fa-angle-down"></span>
                    </a>
                    <ul class="sub-menu js__content">
                        <li><a href="ui-notification.html">Notification</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="fixed-navbar">
    <div class="pull-left">
        <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
        <h1 class="page-title">Buttons</h1>
</div>
<div class="pull-right">
    <div class="ico-item">
        <a href="#" class="ico-item mdi mdi-magnify js__toggle_open" data-target="#searchform-header"></a>
        <form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="mdi mdi-magnify button-search" type="submit"></button></form>
    </div>
    <a href="#" class="ico-item mdi mdi-email notice-alarm js__toggle_open" data-target="#message-popup"></a>
    <a href="#" class="ico-item pulse"><span class="ico-item mdi mdi-bell notice-alarm js__toggle_open" data-target="#notification-popup"></span></a>
    <a href="#" class="ico-item mdi mdi-logout js__logout"></a>
</div>
</div>
<!---->
<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-xs-12">
                <div id="main1" class="layui-col-sm12" style="height: 300px;"></div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/assets/script/html5shiv.min.js}"></script>
<script th:src="@{/assets/script/respond.min.js}"></script>
<script th:src="@{/assets/scripts/jquery.min.js}"></script>
<script th:src="@{/assets/scripts/modernizr.min.js}"></script>
<script th:src="@{/assets/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/assets/plugin/nprogress/nprogress.js}"></script>
<script th:src="@{/assets/plugin/sweet-alert/sweetalert.min.js}"></script>
<script th:src="@{/assets/plugin/waves/waves.min.js}"></script>
<script th:src="@{/assets/scripts/main.min.js}"></script>
</body>
</html>